/* .activities-gallery {
  display: grid;
  grid-template-areas:
    'a b d e'
    'a b d e'
    'a b d f'
    'a c d f'
    'a c d f';
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(5, 70px);
  gap: 30px;
} */

/* - Tablet -
  .activities-gallery {
    display: grid;
    grid-template-areas: none;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
  }
  .activity-card {
    height: 180px;
  }
  .activities-gallery :nth-child(1),
  .activities-gallery :nth-child(2),
  .activities-gallery :nth-child(3),
  .activities-gallery :nth-child(4),
  .activities-gallery :nth-child(5),
  .activities-gallery :nth-child(6) {
    grid-area: auto;
  } */
