/* --- Reset --- */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --- Variables --- */

:root {
  --primaryColor: #0065fc;
  --secondaryColor: #deebff;
  --backgroundColor: #f2f2f2;
}

/* -- Global styles --- */

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 0;
}

h1 {
  font-size: 1.35rem;
  font-weight: 800;
}

h2 {
  font-size: 1.35rem;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-size: 1rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.wrapper {
  padding-left: 3.5%;
  padding-right: 3.5%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1440px;
}

/* --- Header --- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 30px;
  width: auto;
  margin: 25px 20px;
}

.header__nav {
  display: flex;
}

.link-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  padding: 0 30px;
  transition: 0.15s ease-out;
}

.link-hover-effect {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
}

.link-hover-effect::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background-color: var(--primaryColor);
  transition: 0.15s ease-out;
}

.link-box > a {
  transition: 0.1s ease-out;
}

.link-box > a:hover {
  color: var(--primaryColor);
}

.link-box > a:hover + .link-hover-effect::after {
  transform: scale(1);
}

/* --- Find Lodging Section --- */

.find-lodging > h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* -- Searchbar -- */

.search {
  display: flex;
  width: 100%;
  max-width: 420px;
  height: 50px;
  margin-top: 20px;
  font-size: 1.1rem;
  border: 1px solid var(--backgroundColor);
  border-radius: 16px;
  overflow: hidden;
}

.search__icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: var(--backgroundColor);
}

.search__input {
  flex-grow: 1;
  min-width: 0;
  padding: 0 15px;
  font-weight: 700;
  line-height: 1;
  outline: none;
  border: 1px solid transparent;
  transition: 0.15s ease-out;
}

.search__btn {
  border: none;
  padding: 0 20px;
  font-weight: 500;
  background-color: var(--primaryColor);
  color: white;
  cursor: pointer;
}

.search__btn:hover {
  opacity: 0.85;
}

.search > .search__btn > .search__btn--mobile.fa-search {
  display: none;
  font-size: 1rem;
}

/* -- Filters -- */

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 25px;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 30px 0 40px;
}

.filter {
  display: flex;
  align-items: center;
  height: 50px;
  border: 2px solid #e4e4e4;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.15s ease-out;
}

.filter__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  transform: translateX(-2px);
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border-radius: 50%;
}

.filter > span {
  padding: 0 15px 0 10px;
  line-height: 1;
}

.filter:hover {
  color: var(--primaryColor);
  transform: translateY(-1px);
}

/* -- Information -- */

.info {
  display: flex;
  align-items: flex-start;
}

.info__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
}

.info__icon > i {
  font-size: 0.7rem;
  color: var(--primaryColor);
}

.info > span {
  margin-top: 4px;
}

/* --- Lodgings --- */

.lodgings-container {
  display: flex;
  gap: 3%;
  margin-top: 30px;
}

.lodgings-section {
  background-color: var(--backgroundColor);
  border-radius: 20px;
  padding: 3%;
}

.lodgings-gallery {
  display: grid;
  gap: 30px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.lodgings-card {
  background-color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 16px #0000001f;
  transition: 0.15s ease-out;
}

.lodgings-card:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 16px #0000002c;
}
.lodgings-card:hover h3 {
  color: var(--primaryColor);
}

.lodgings-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
}

.lodgings-card__info h3 {
  margin-bottom: 4px;
  transition: 0.15s ease-out;
}

.lodgings-card__info p {
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.lodgings-card__info span {
  font-weight: 600;
}

.rating {
  font-size: 0.75rem;
  letter-spacing: -1px;
}

.rating > i {
  color: #c5c5c5;
}

.rating > i.active {
  color: var(--primaryColor);
}

/* -- City Lodgings -- */

.city-lodgings-section {
  flex-basis: 66.6%;
}

.city-lodgings-card {
  display: flex;
  flex-direction: column;
}

.city-lodgings-card img {
  object-fit: cover;
  height: 115px;
  width: 100%;
}
.city-lodgings-card .lodgings-card__info {
  flex-grow: 1;
}

.see-more-btn {
  display: inline-block;
  font-size: 1.15rem;
  font-weight: 800;
  margin-top: 45px;
}

.see-more-btn:hover {
  color: var(--primaryColor);
}

/* -- Popular lodgings -- */

.popular-lodgings-section {
  flex-basis: 33.3%;
}

.popular-lodgings__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-lodgings__title > i {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.popular-lodgings-card {
  display: flex;
  align-items: stretch;
  height: 150px;
}
.popular-lodgings-card .lodgings-card__info {
  padding: 3% 4% 3% 5%;
}

.popular-lodgings-card img {
  object-fit: cover;
  height: 100%;
  width: 38%;
  min-width: 38%;
}

/* --- Activities --- */

.activities-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.activities-gallery {
  display: grid;
  grid-template-areas:
    'a b d e'
    'a b d e'
    'a b d f'
    'a c d f'
    'a c d f';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 70px);
  gap: 30px;
}

.activity-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 16px #0000001f;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.activity-card:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 16px #0000002c;
}

.activity-card:hover h3 {
  color: var(--primaryColor);
}

.activity-card > img {
  object-fit: cover;
  width: 100%;
  height: 50%;
  max-height: none;
  flex: 1 1;
}

.activity-card h3 {
  padding: 20px;
  transition: 0.15s ease-out;
}

.activity-card:nth-child(1) {
  grid-area: a;
}
.activity-card:nth-child(2) {
  grid-area: b;
}
.activity-card:nth-child(3) {
  grid-area: c;
}
.activity-card:nth-child(4) {
  grid-area: d;
}
.activity-card:nth-child(5) {
  grid-area: e;
}
.activity-card:nth-child(6) {
  grid-area: f;
}

/* --- Footer --- */

.footer {
  background-color: var(--backgroundColor);
}

.footer-flex {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.footer-column > a {
  margin-bottom: 10px;
  font-size: 1rem;
}

.footer-column > a:hover {
  text-decoration: underline;
}

/* ------ Responsive ------ */

/* ---- Tablet ---- */

@media (max-width: 992px) {
  .wrapper {
    padding-left: 4%;
    padding-right: 4%;
  }

  .filters__title {
    margin-right: 80%;
  }

  .lodgings-container {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .lodgings-gallery {
    gap: 20px;
  }

  .popular-lodgings-section .lodgings-gallery {
    grid-template-columns: 1fr;
  }

  .popular-lodgings-card {
    height: 140px;
  }

  .activities-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .activities-gallery {
    display: grid;
    grid-template-areas: none;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
  }

  .activity-card {
    height: 180px;
  }

  .activities-gallery :nth-child(1),
  .activities-gallery :nth-child(2),
  .activities-gallery :nth-child(3),
  .activities-gallery :nth-child(4),
  .activities-gallery :nth-child(5),
  .activities-gallery :nth-child(6) {
    grid-area: auto;
  }

  .footer-flex {
    flex-direction: column;
    gap: 35px;
  }

  .footer-column {
    width: 100%;
  }
}

/* ---- Mobile ---- */

@media (max-width: 768px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }

  .header {
    padding: 0;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .header__nav {
    width: 100%;
  }

  .link-box {
    width: 50%;
    height: 50px;
  }

  .link-hover-effect {
    top: unset;
    bottom: 0;
    height: 3px;
    background-color: var(--backgroundColor);
  }

  .search__btn {
    border-radius: 16px;
  }

  .search__btn--large {
    display: none;
  }

  .search > .search__btn > .search__btn--mobile.fa-search {
    display: inline-block;
  }

  .filters {
    gap: 10px;
  }

  .filter > span {
    font-size: 1rem;
  }

  .lodgings-container.wrapper {
    padding-left: 0;
    padding-right: 0;
    gap: 0;
  }

  .lodgings-section {
    border-radius: 0;
    padding: 30px 5%;
  }

  .city-lodgings-section {
    background-color: #ffffff;
  }

  .activities-section {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
